<a [routerLink]="['welcome']">Welcome</a>
&nbsp;
<a [routerLink] = "['Register']">Register</a>
&nbsp;
<a [routerLink] = "['Login']">Login</a>
&nbsp;
<a [routerLink]="['dashboard']">Dashboard</a>
&nbsp;
<a [routerLink]="['account']">Account</a>
&nbsp;
<a [routerLink] = "['Changephonenumber']">Changephonenumber</a>
&nbsp;
<a [routerLink] = "['Moneytransfer']">Moneytransfer</a>
&nbsp;
<a [routerLink]="['chequebookrequest']">Chequebookrequest</a>
&nbsp;
<a [routerLink]="['pinchange']">PinChange</a>
&nbsp;
<a [routerLink]="['transaction']">Transaction</a>
&nbsp;
<a [routerLink]="['Chequebookreqtstatus']">Chequebookreqtstatus</a>
&nbsp;
<a [routerLink]="['Chequebookreqtdata']">Chequebookreqtdata</a>
&nbsp;
<router-outlet></router-outlet>


