<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<app-header></app-header>

<body>
    <!-----------------------------------HEADER---------------------->
    <!-- <header>
        <div class="logo">
            <img src="../../assets/logo-no-background.svg" alt="Logo" id="logo">
        </div>
        <div class="right-options">
            <a href="#" title="Sign Up">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="#" title="Login">
                <i class="fas fa-sign-out-alt"></i> Sign Out
            </a>
        </div>
    </header> -->


    <!------------------------ CHEQUE BOOK REQUEST FORM-------------------------------------->
    <div class="container">
        <form [formGroup]="chequeReqform" (ngSubmit)="onSubmit()">
            <table>
                <tr>
                    <th colspan="2">CHEQUE BOOK REQUEST FORM</th>
                </tr>


                <tr>
                    <td>
                        <label>First Name</label>
                        <input type="text" placeholder="First Name" formControlName="firstname">
                        <div *ngIf="chequeReqform.get('firstname')?.hasError('required') && (chequeReqform.get('firstname')?.touched || chequeReqform.get('firstname')?.dirty)"
                            class="error">
                            First Name is required.
                        </div>
                    </td>
                    <td>
                        <label>Middle Name</label>
                        <input type="text" placeholder="Middle Name" formControlName="middlename">
                        <div *ngIf="chequeReqform.get('middlename')?.hasError('required') && (chequeReqform.get('middlename')?.touched || chequeReqform.get('middlename')?.dirty)"
                            class="error">
                            Middle Name is required.
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Last Name</label>
                        <input type="text" placeholder="Last Name" formControlName="lastname">
                        <div *ngIf="chequeReqform.get('lastname')?.hasError('required') && (chequeReqform.get('lastname')?.touched || chequeReqform.get('lastname')?.dirty)"
                            class="error">
                            Last Name is required.
                        </div>

                    </td>
                    <td>
                        <label>Phone no</label>
                        <input type="text" placeholder="Phone No" formControlName="phoneno">
                        <div *ngIf="chequeReqform.get('phoneno')?.hasError('required') && (chequeReqform.get('phoneno')?.touched || chequeReqform.get('phoneno')?.dirty)"
                            class="error">
                            Phone number is required.
                        </div>
                    </td>

                </tr>

                <tr>
                    <td>
                        <label>Email Id</label>
                        <input type="email" placeholder="Enter Email" formControlName="emailid">
                        <div *ngIf="chequeReqform.get('emailid')?.hasError('required') && (chequeReqform.get('emailid')?.touched || chequeReqform.get('emailid')?.dirty)"
                            class="error">
                            Email Id is required.
                        </div>
                    </td>

                    <td>
                        <label>Date</label>
                        <input type="date" formControlName="date">
                        <div *ngIf="chequeReqform.get('date')?.hasError('required') && (chequeReqform.get('date')?.touched || chequeReqform.get('date')?.dirty)"
                            class="error">
                            Date is required.
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Account Type</label>
                        <select name="AccountType" formControlName="accounttype">
                            <option value="">Select Account Type</option>
                            <option>Personal</option>
                            <option>Business</option>
                        </select>
                        <div *ngIf="chequeReqform.get('accounttype')?.hasError('required') && (chequeReqform.get('accounttype')?.touched || chequeReqform.get('accounttype')?.dirty)"
                            class="error">
                            Account type is required.
                        </div>
                    </td>
                    <td>
                        <label>Bank Name</label>
                        <input type="text" placeholder="Enter Bank Name" formControlName="bankname">
                        <div *ngIf="chequeReqform.get('bankname')?.hasError('required') && (chequeReqform.get('bankname')?.touched || chequeReqform.get('bankname')?.dirty)"
                            class="error">
                            Bank Name is required.
                        </div>

                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Account Number</label>
                        <input type="text" placeholder="Enter Account Number" formControlName="accountnumber">
                        <div *ngIf="chequeReqform.get('accountnumber')?.hasError('required') && (chequeReqform.get('accountnumber')?.touched || chequeReqform.get('accountnumber')?.dirty)"
                            class="error">
                            Account Number is required.
                        </div>
                    </td>

                    <td>
                        <label>Pin</label>
                        <input type="text" placeholder="Enter Pin" formControlName="pin">
                        <div *ngIf="chequeReqform.get('pin')?.hasError('required') && (chequeReqform.get('pin')?.touched || chequeReqform.get('pin')?.dirty)"
                            class="error">
                            Pin is required.
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>Starting Cheque Number </label>
                        <input type="text" placeholder="Starting Cheque Number" formControlName="startingcheque">
                        <div *ngIf="chequeReqform.get('startingcheque')?.hasError('required') && (chequeReqform.get('startingcheque')?.touched || chequeReqform.get('startingcheque')?.dirty)"
                            class="error">
                            Account type is required.
                        </div>
                    </td>

                    <td>
                        <label>Ending Cheque Number </label>
                        <input type="text" placeholder="Ending Cheque Number" formControlName="endingcheque">
                        <div *ngIf="chequeReqform.get('endingcheque')?.hasError('required') && (chequeReqform.get('endingcheque')?.touched || chequeReqform.get('endingcheque')?.dirty)"
                            class="error">
                            Ending Cheque Number type is required.
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label>No of Leaves </label>
                        <select name="No of Leaves" formControlName="leaves">
                            <option>10</option>
                            <option>20</option>
                            <option>50</option>
                            <option>100</option>
                        </select>
                        <div *ngIf="chequeReqform.get('leaves')?.hasError('required') && (chequeReqform.get('leaves')?.touched || chequeReqform.get('leaves')?.dirty)"
                            class="error">
                            No of Leaves is required.
                        </div>
                    </td>
                </tr>



                <tr>
                    <td colspan="2">
                        <input type="submit" value="Send Request" [disabled]="!chequeReqform.valid"
                            [style.background-color]="chequereqbtn">
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-----------------------------------FOOTER---------------------->
    <footer>
        <div class="footer-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="footer-social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 DcodeTech. All rights reserved.</p>
    </footer>
</body>

</html>