* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(150, 146, 151, 0.75), rgba(78, 128, 167, 0.75)), url(../../assets/bg.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li a:hover {
    cursor: pointer;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #0be5cf;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
    text-transform: uppercase;
}

.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #0be5cf;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

span {
    background: #0be5cf;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}


.features {
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
}

.features h2 {
    color: #007bff;
    font-size: 32px;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-bottom: 8px;
}

.features h2::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #007bff;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.features h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


.features .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.features .card {
    width: calc(34% - 35px);
    margin: 15px;
    padding: 15px;
    border: 2px solid #009688;
    border-radius: 20px;
    text-align: center;
    box-shadow: 10px 10px 10px rgb(143, 143, 143);
}

.features .card i {
    font-size: 24px;
    color: #007bff;
}

.features .card h3 {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.features .card p {
    font-size: 16px;
    color: #666;
}

.features .card .sticker {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.features .card:hover {
    transition: 0.4s ease-in-out;
    transform: scale(0.9);
    cursor: pointer;
}

/****************************Footer Styles**************************/
footer {
    /* background-color: #40916c; */
    background: linear-gradient(90deg, rgb(87, 85, 126) 0%, rgb(104, 68, 151) 35%, rgb(136, 207, 221) 100%);
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-social-icons {
    margin-top: 20px;
}

.footer-social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}