<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <!-----------------------------------HEADER FOR ACCOUNT CREATION---------------------->
    <header>
        <div class="logo">
            <img src="../../assets/logo-no-background.svg" alt="Logo" id="logo">
        </div>
        <div class="right-options">
            <a href="#" title="Sign Up">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="#" title="Login">
                <i class="fas fa-sign-out-alt"></i> Sign Out
            </a>
        </div>
    </header>


    <h2>Transaction History</h2>

    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Account ID (From)</th>
                <th>Account ID (To)</th>
                <th>Sender</th>
                <th>Receiver</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>12345</td>
                <td>67890</td>
                <td>John Doe</td>
                <td>Jane Smith</td>
                <td>Deposit</td>
                <td>$500</td>
                <td>2023-12-10</td>
                <td>15:30:00</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12345</td>
                <td>67890</td>
                <td>John Doe</td>
                <td>Jane Smith</td>
                <td>Deposit</td>
                <td>$500</td>
                <td>2023-12-10</td>
                <td>15:30:00</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12345</td>
                <td>67890</td>
                <td>John Doe</td>
                <td>Jane Smith</td>
                <td>Deposit</td>
                <td>$500</td>
                <td>2023-12-10</td>
                <td>15:30:00</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12345</td>
                <td>67890</td>
                <td>John Doe</td>
                <td>Jane Smith</td>
                <td>Deposit</td>
                <td>$500</td>
                <td>2023-12-10</td>
                <td>15:30:00</td>
            </tr>
            <tr>
                <td>1</td>
                <td>12345</td>
                <td>67890</td>
                <td>John Doe</td>
                <td>Jane Smith</td>
                <td>Deposit</td>
                <td>$500</td>
                <td>2023-12-10</td>
                <td>15:30:00</td>
            </tr>
        </tbody>
    </table>


</body>

</html>