<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transaction History</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<app-header></app-header>
<body>
    <!-----------------------------------HEADER FOR ACCOUNT CREATION---------------------->
    <!-- <header>
        <div class="logo">
            <img src="../../assets/logo-no-background.svg" alt="Logo" id="logo">
        </div>
        <div class="right-options">
            <a href="#" title="Sign Up">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="#" title="Login">
                <i class="fas fa-sign-out-alt"></i> Sign Out
            </a>
        </div>
    </header> -->


    <h2>Transaction History</h2>
    <form [formGroup]="txnhistory" (ngSubmit)="viewTransactionHistory()">
        <div>
            <label for="accountId">Account ID:</label>
            <input type="text" id="accountId" placeholder="Enter Account ID" formControlName="accid">
            <div *ngIf="txnhistory.get('accid')?.hasError('required') && (txnhistory.get('accid')?.touched || txnhistory.get('accid')?.dirty)"
                class="error">
                Account ID is required.
            </div>
        </div>


        <div>
            <input class="viewtxn" type="submit" value="View" [disabled]="!txnhistory.valid"
                [style.background-color]="viewButtonColor">
        </div>
    </form>

    <!-- Display Table Section -->
    <div *ngIf="transactionData">
        <h3>Details</h3>
        <table class="txntable">
            <thead>
                <tr>
                    <!-- Adjust these based on your actual data structure -->
                    <th>Account Number</th>
                    <th>Recipient Account Number</th>
                    <th>Transaction Amount</th>
                    <th>Transaction Date</th>
                    <th>Phone No</th>
                    <th>Status</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transaction of transactionData">
                    <td>{{ transaction.accountnumber}}</td>
                    <td>{{ transaction.recipientaccountnumber}}</td>
                    <td>{{ transaction.transactionammount}}</td>
                    <td>{{ transaction.date}}</td>
                    <td>{{ transaction.phoneno}}</td>
                    <td>{{ transaction.status}}</td>

                </tr>
            </tbody>
        </table>
    </div>


    <!-----------------------------------FOOTER FOR ACCOUNT CREATION---------------------->
    <footer>
        <div class="footer-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="footer-social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 DcodeTech. All rights reserved.</p>
    </footer>
</body>

</html>