
/*************************Global Styles***********************/
body {
margin: 0;
padding: 0;
background: hsla(50, 79%, 76%, 1);

background: radial-gradient(circle, hsla(50, 79%, 76%, 1) 0%, hsla(39, 87%, 62%, 1) 100%);

background: -moz-radial-gradient(circle, hsla(50, 79%, 76%, 1) 0%, hsla(39, 87%, 62%, 1) 100%);

background: -webkit-radial-gradient(circle, hsla(50, 79%, 76%, 1) 0%, hsla(39, 87%, 62%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F2E291", endColorstr="#F2B84B", GradientType=1 );




}

.container {
display:flex;
align-items: center;
justify-content: center;
height: 100vh; 
margin-left: 17%;

} 

 button
 {

width:25%;
height: 35vh;
font-size: 18px;
border-radius: 5px;
margin-top: 40px; 
margin-right: 30px;
margin-bottom: 10px;  
 box-sizing: border-box;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
   text-decoration: underline;
   text-underline-offset: 8px;
    text-align: center;
}




/************************Header Styles************************/
header {
    /* background-color: #52b788; */
    background-color: #262626;
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

#logo {
    width: auto;
    height: 30px;
}

.right-options {
    display: flex;
    gap: 15px;
}

.right-options a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.right-options a i {
    margin-right: 10px;
}

/****************************Footer Styles**************************/
footer {
    background-color: #262626;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-social-icons {
    margin-top: 20px;
}

.footer-social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}



button {
transition: transform 0.3s ease;

}

button:hover {
background-color: #f28749;
transition: 0.2 ease-in-out;
transform: scale(1.1);
cursor: pointer;
}







