<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pin Change Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<app-header></app-header>
<body>
    <!-----------------------------------HEADER ---------------------->
    <!-- <header>
        <div class="logo">
            <img src="../../assets/124-removebg-preview.png" alt="Logo" id="logo">
        </div>
        <div class="right-options">
            <a href="#" title="Sign Up">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="#" title="Login">
                <i class="fas fa-sign-out-alt"></i> Sign Out
            </a>
        </div>
    </header> -->


    <!-------------------------CHANGE PIN FORM-------------------------------------->
    <h2><span style="color: #bbd0ff;">USER</span> DASHBOARD</h2>
    <div class="container">
        <div class="box" (click)="navigateToAccountCreation()">
            <img src="../../assets/acccreation.svg" class="accsvg">
            <p>ACCOUNT CREATION</p>
        </div>

        <div class="box" (click)="navigateToTransactionHistory()">
            <img src="../../assets/txnhistory.svg" class="accsvg">
            <p>TRANSACTION HISTORY</p>
        </div>

        <div class="box" (click)="navigateToPhoneNoChange()">
            <img src="../../assets/phnno.svg" class="accsvg">
            <p>PHONE NO CHANGE</p>
        </div>
    </div>

    <div class="container" (click)="navigateToMoneyTransfer()">
        <div class="box">
            <img src="../../assets/moneytransfer.svg" class="accsvg">
            <p>MONEY TRANSFER</p>
        </div>

        <div class="box" (click)="navigateToPinChange()">
            <img src="../../assets/pinchange.svg" class="accsvg">
            <p>PIN CHANGE</p>
        </div>

        <div class="box" (click)="navigateToChequeBookReq()">
            <img src="../../assets/cheque.svg" class="accsvg">
            <p>CHEQUE BOOK REQUEST</p>
        </div>
    </div>
    <!-----------------------------------FOOTER ---------------------->
    <footer>
        <div class="footer-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="footer-social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 DcodeTech. All rights reserved.</p>
    </footer>
</body>

</html>