footer {
    background-color: #40916c;
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-social-icons {
    margin-top: 20px;
}

.footer-social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}

