header {
    /* background-color: #52b788; */
    background:linear-gradient(90deg, rgb(87, 85, 126) 0%, rgb(104, 68, 151) 35%, rgb(136, 207, 221) 100%); 
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    width: auto;
    height: 30px;
}

.right-options {
    display: flex;
    gap: 15px;
}

.right-options a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.right-options a i {
    margin-right: 10px;
}

/****************************Footer Styles**************************/
footer {
    background:linear-gradient(90deg, rgb(87, 85, 126) 0%, rgb(104, 68, 151) 35%, rgb(136, 207, 221) 100%); 
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: 50px;
}

.footer-links {
    margin-top: 20px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-social-icons {
    margin-top: 10px;
}

.footer-social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}





table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    
}

th {
    background-color: #f2f2f2;
}




