<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <style>
        /*************************Global Styles***********************/
    </style>
</head>

<body>
    <!-----------------------------------HEADER---------------------->
    <header>
        <div class="logo">
            <img src="../../assets/logo-no-background.svg" alt="Logo" id="logo">
        </div>
        <div class="right-options">
            <a href="#" title="Sign Up">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="#" title="Login">
                <i class="fas fa-sign-out-alt"></i> Sign Out
            </a>
        </div>
    </header>
    <!------------------------ CHEQUE BOOK REQUEST  STATUS FORM-------------------------------------->

    
    <table>
        <thead>
            <tr>
                <th>Account ID</th>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Account Type</th>
                <th>Bank Name</th>
                <th>Starting Cheque Number</th>
                <th>Ending Cheque Number</th>
                <th>No of Leaves</th>
                <th>Date</th>
                
            </tr>
        </thead>
        <tbody>
            <!-- sampal data -->
            <tr>
                <td>1</td>
                <td>Nishant</td>
                <td>Dilip</td> 
                <td>Shingole</td>
                <td>1234567890</td> 
                <td>nishant@gmail.com</td> 
                <td>Business</td> 
                <td>KOTAK</td> 
                <td>101</td> 
                <td>120</td> 
                <td>50</td> 
                <td>2024-01-11</td> 
            </tr>
            <tr>
                <td>2</td>
                <td>Prachi</td>
                <td>Deepak</td> 
                <td>Ashtivkar</td>
                <td>6324515872</td> 
                <td>prachi@gmail.com</td> 
                <td>Personal</td> 
                <td>SBI</td> 
                <td>510</td> 
                <td>520</td> 
                <td>20</td> 
                <td>2024-01-11</td> 
            </tr>

            <tr>
                <td>3</td>
                <td>Sagar</td>
                <td>Dharamnath</td> 
                <td>Misal</td>
                <td>9876543210</td> 
                <td>sagar@gmail.com</td> 
                <td>Personal</td> 
                <td>ICICI</td> 
                <td>201</td> 
                <td>220</td> 
                <td>100</td> 
                <td>2024-01-12</td> 
            </tr>
            
        </tbody>
    </table>
   



 
    <!-----------------------------------FOOTER---------------------->
    <footer>
        <div class="footer-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="footer-social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 DcodeTech. All rights reserved.</p>
    </footer>
</body>

</html>
