.home {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background: hsla(23, 41%, 9%, 1);

background: linear-gradient(90deg, hsla(23, 41%, 9%, 1) 0%, hsla(18, 16%, 53%, 1) 100%);

background: -moz-linear-gradient(90deg, hsla(23, 41%, 9%, 1) 0%, hsla(18, 16%, 53%, 1) 100%);

background: -webkit-linear-gradient(90deg, hsla(23, 41%, 9%, 1) 0%, hsla(18, 16%, 53%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#1F140D", endColorstr="#9B8074", GradientType=1 );
    z-index: 0;
}

.home .wlcmimg {
    flex: 1 1 300px;

}

.home .wlcmimg img {
    margin-top: 10px;
    width: 80%;
    margin-left: 80px;
    margin-bottom: 110px;
}

.home .content {
    flex: 1 1 400px;
    margin-bottom: 230px;
}

.home .content h1{
    color: black;
    text-align: center;
    font-size:40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home .content h2{
    color:  black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.home .content p{
    color: rgb(0, 0, 0);
  text-decoration: solid;
  text-align: justify;
  margin-left: 20px;
}