<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Creation Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">


</head>

<body>
    <!-----------------------------------HEADER FOR ACCOUNT CREATION---------------------->
    <header>
        <div class="logo">
            <img src="../../assets/logo-no-background.svg" alt="Logo" id="logo">
        </div>
        <div class="right-options">
            <a href="#" title="Home">
                <i class="fas fa-home"></i> Home
            </a>
            <a href="#" title="Sign Out">
                <i class="fas fa-sign-out-alt"></i> Sign Out
            </a>
        </div>
    </header>


    <!-------------------------ACCOUNT CREATION FORM-------------------------------------->

    <section class="home">
        <div class="content">
            <h1>
                <span style="color: #FF5733;">Welcome</span>
                <span style="color: #000;"> To</span>
                <span style="color: #27AE60;"> ATM</span>
            </h1>
            <p>Thank you for choosing us for your banking needs. We are delighted to welcome you to our ATM
                services. Whether you're checking your balance, withdrawing cash, or performing other transactions, we
                are here to make your banking experience convenient and secure.</p>
            <p><span style="color: red; font-weight: bold;">Important Information:</span>
                <br>
                <br>1. Keep your PIN (Personal Identification Number) confidential. Do not share it with anyone. <br>
                <br> 2. If you suspect any unusual activity or have lost your card, please contact our customer service
                immediately .<br>
                <br> 3. Always cover your keypad while entering your PIN to ensure your transactions are secure.
            </p>

            <p>For assistance or inquiries, please contact our customer service at [Customer Service Number -2458794244]
                or visit our nearest branch.

                <br><br> Thank you for trusting . We appreciate your business.

                Have a secure and pleasant banking experience!
            </p>
        </div>
        <div class="wlcmimg">
            <img src="../../assets/newbg1.png">
        </div>
    </section>

    <!-----------------------------------FOOTER FOR ACCOUNT CREATION---------------------->
    <footer>
        <div class="footer-links">
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Contact Us</a>
        </div>
        <div class="footer-social-icons">
            <a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a>
            <a href="#" target="_blank"><i class="fab fa-twitter"></i></a>
            <a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        <p>&copy; 2023 DcodeTech. All rights reserved.</p>
    </footer>
</body>

</html>