
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background: hsla(141, 43%, 62%, 1);

    background: linear-gradient(90deg, hsla(141, 43%, 62%, 1) 0%, hsla(73, 72%, 75%, 1) 99%, hsla(0, 0%, 92%, 1) 100%);

    background: -moz-linear-gradient(90deg, hsla(141, 43%, 62%, 1) 0%, hsla(73, 72%, 75%, 1) 99%, hsla(0, 0%, 92%, 1) 100%);

    background: -webkit-linear-gradient(90deg, hsla(141, 43%, 62%, 1) 0%, hsla(73, 72%, 75%, 1) 99%, hsla(0, 0%, 92%, 1) 100%);

    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#76C893", endColorstr="#D9ED92") */

    background: #CBC0D3;
    
    }

    .container {
        
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px auto;
        padding: 20px;
        max-width: 400px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        height: 60vh;
        margin-top: 130px;
    }

    table {
        /* align-items: center;
        
        margin-top: 100px;
        margin-bottom: 200px; */
        width: 100%;
    }

    

    th {
        font-size: 30px;
        background:linear-gradient(90deg, rgb(150, 149, 180) 0%, rgb(104, 68, 151) 35%, rgb(136, 207, 221) 100%);
        text-decoration: underline;
        text-underline-offset: 5px;
        text-align: center;  
        margin-bottom: 30px;  
        color: #fff;  
    }
    a{
        text-decoration: none;
    }


    td {
        padding: 10px;
    
    }

    label {
        display: block;
        margin-bottom: 8px;
        font-weight: bold;
    }

    input,
    select,
    textarea {
        width: 100px;
        padding: 8px;
        margin-bottom: 12px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    input[type="text"],
    input[type="password"]
     {
        width: 300px;
        padding: 15px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-sizing: border-box;
    }

    /* input[type="file"] {
        padding: 4px;
    }

    input[type="date"] {
        width: calc(100% - 18px);
    } */

    input[type="submit"] {
        background:linear-gradient(90deg, rgb(87, 85, 126) 0%, rgb(104, 68, 151) 35%, rgb(136, 207, 221) 100%); 
        color: #fff;
        padding: 10px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        margin-left: 100px;
      
    }
    

    .error {
        color: red;
    }

    /* Media Queries for Responsive Design */
    @media only screen and (max-width: 600px) {
        body {
            padding: 10px;
        }

        form {
            margin-top: 20px;
        }

        th,
        td {
            font-size: 12px;
        }

        input,
        select,
        textarea {
            font-size: 12px;
        }
    }

    @media only screen and (max-width: 400px) {

        th,
        td {
            font-size: 10px;
        }

        input,
        select,
        textarea {
            font-size: 10px;
        }
    }



  /************************Header Styles************************/
  header {
    /* background-color: #52b788; */
    /* background-color: #6a35a5; */
    background:linear-gradient(90deg, rgb(87, 85, 126) 0%, rgb(104, 68, 151) 35%, rgb(136, 207, 221) 100%); 
    padding: 15px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#logo {
    width: auto;
    height: 30px;
}

.right-options {
    display: flex;
    gap: 15px;
}

.right-options a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.right-options a i {
    margin-right: 10px;
}

/****************************Footer Styles**************************/
footer {
    /* background-color: #40916c; */
    /* background-color: #108d8f; */
      background:linear-gradient(90deg, rgb(87, 85, 126) 0%, rgb(104, 68, 151) 35%, rgb(136, 207, 221) 100%); 
    color: #fff;
    padding: 20px 0;
    width: 100%;
    text-align: center;
    margin-top: 210px;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
}

.footer-social-icons {
    margin-top: 20px;
}

.footer-social-icons a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
}